<h1 class="page-header text-center"> Rockstars </h1>

<form class="" action="/bands" method="post">
  <div class="form-group">
    <label for="band_name">Add Band</label>
    <input autofocus required type="text" name="band_name" class="form-control">
  </div>
  <button type="submit" class="btn btn-success btn-md">Add Band</button>
</form>
<br>
<% if @bands.any? %>
  <p class="lead"> Current Rockstars:
    <ul>
      <% @bands.each do |band| %>
      <li><a href="/bands/<%= band.id %>"> <%= band.name%> </a></li>
      <% end %>
    </ul>
  </p>
<% else %>
<br>

  <p class="lead"> Currently no talent aquired, please add talent using above form</p>

<% end %>
