#delete {
  float: inherit;
  padding: 5;
  margin: 0.3em;
  display: inline;
}

form {
  display: inline;
  color:rgba(14, 206, 244, 0.85);
  font-weight: bold;
  font-family: monospace;
  font-size: 21px;
}

h1,
.page-header {
  font-weight: bold;
  margin-top: 0;
  padding-bottom: 1em;
  background-color: rgba(190, 200, 148, 0.59);
  font-family: monospace;
}

body
 {
  background-color:rgba(248, 255, 215, 0.76);
  font-family: fantasy;
  font-size: 21px;
}

.wrap {
  margin-left: 15em;
 }

 .col-md-6 {
   margin-top: 1em;

 }
.btn {
  color: rgba(255, 255, 255, 0.87);
  font-weight: bold;
}
